@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/media';

.container {
  width: 100%;
  min-height: 150px;
  background: $white;
  border-radius: 20px;

  padding: 16px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    min-height: 180px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:not(:first-child) {
      margin-left: 20px;
    }
  }
  @include laptop {
    min-height: 230px;
    padding: 20px;
    border-radius: 30px;
  }
  @include desktop {
    min-height: 300px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 40px;
  }
}

.title {
  font-family: $htw-unit-gothic;
  font-size: 14px;
  line-height: 22px;
  color: $black;

  text-transform: uppercase;

  @include laptop {
    font-size: 20px;
    line-height: 25px;
  }

  @include desktop {
    font-size: 30px;
    line-height: 35px;
  }
}

.link {
  font-family: $covik-sans-mono;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  width: 100%;
  height: 40px;
  border-radius: 30px;
  background-color: $blue;

  transition: background-color 0.3s;

  @include flexCenter;
  align-self: center;

  @include laptop {
    font-size: 14px;
    line-height: 22px;

    height: 48px;
  }
  @include desktop {
    font-size: 16px;
    line-height: 24px;

    height: 52px;
  }

  &:hover {
    background-color: $blue3;
  }
}
