@import 'styles/media';
@import 'styles/variables';

.title {
  font-family: $htw-unit-gothic;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.titleTextContainer {
  display: block;
  width: 195px;
  text-transform: uppercase;
}

.cardsWrapper {
  @include tablet {
    display: flex;
    justify-content: flex-start;
  }
}
