@import 'styles/media';

.title {
  margin-bottom: 36px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.smallMargin {
  margin-bottom: 6px;

  @include tablet {
    margin-bottom: 8px;
  }
}

.bigMargin {
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 30px;
  }
}

.largeMargin {
  margin-bottom: 36px;

  @include tablet {
    margin-bottom: 40px;
  }
}

.list {
  margin-bottom: 12px;
  position: relative;
  padding-left: 32px;
  &:before {
    content: '';
    position: absolute;
    background-color: #37465a;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    top: 8px;
    left: 8px;

    @include tablet {
      left: 10px;
    }
  }
  @include laptop {
    padding-left: 36px;
  }
}

.margin {
  margin-bottom: 120px;
}
