@import 'styles/media';

.content {
  margin-bottom: 80px;

  @include tablet {
    margin-bottom: 100px;
  }

  @include laptop {
    margin-bottom: 120px;
  }

  @include desktop {
    margin-bottom: 140px;
  }

  @include big-screen {
    margin-bottom: 160px;
  }
}
