@import 'styles/media';
@import 'styles/variables';

.container {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_reverse {
    @include tablet {
      flex-direction: row-reverse;
    }

    .image {
      @include tablet {
        margin-left: 0;
        margin-right: 72px;
      }

      @include laptop {
        margin-right: 44px;
      }

      @include desktop {
        margin-right: 120px;
      }

      @include big-screen {
        margin-right: 100px;
      }
    }
  }
}

.content {
  @include tablet {
    max-width: 50%;
  }
}

.title {
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 20px;
  }

  @include desktop {
    margin-bottom: 30px;
  }
}

.additionalText {
  font-family: $htw-unit-gothic;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 6px;

  @include tablet {
    margin-bottom: 12px;
  }

  @include desktop {
    margin-bottom: 20px;
  }
}

.paragraph {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.button {
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 0;
  }
}

.image {
  width: 100%;

  @include tablet {
    width: 240px;
    flex-shrink: 0;
    margin-left: 72px;
  }

  @include laptop {
    width: 340px;
    margin-left: 44px;
  }

  @include desktop {
    width: 480px;

    margin-left: 120px;
  }

  @include big-screen {
    width: 540px;

    margin-left: 100px;
  }
}
