@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/media';

.link {
  width: 100%;

  padding-top: 14px;
  padding-bottom: 14px;

  @include flexCenter;

  border: 2px solid $blue;
  box-sizing: border-box;
  border-radius: 3px;

  transition: background-color 0.3s;

  &:hover {
    background-color: $blue;
  }

  @include tablet {
    width: fit-content;
    padding-left: 24px;
    padding-right: 46px;
  }

  @include desktop {
    padding-left: 32px;
    padding-right: 54px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.content {
  font-family: $covik-sans-mono;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    right: -17px;
    top: 50%;
    transform: translateY(-50%);

    width: 11px;
    height: 2px;
    background-color: $white;
  }

  &::after {
    content: '';
    position: absolute;
    right: -27px;
    top: 50%;
    transform: translateY(-50%);

    border: 5px solid transparent;
    border-left: 5px solid $white;
  }
}
