@font-face {
  font-family: 'Covik Sans Mono';
  src: url('../assets/fonts/CovikSans-mono/covik_sans_mono_black.woff2') format('woff2'),
    url('../assets/fonts/CovikSans-mono/covik_sans_mono_black.woff') format('woff'),
    url('../assets/fonts/CovikSans-mono/covik_sans_mono_black.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HWT Unit Gothic 716';
  src: url('../assets/fonts/HWTUnitGothic-716/HWT_unit_gothic_716.woff2') format('woff2'),
    url('../assets/fonts/HWTUnitGothic-716/HWT_unit_gothic_716.woff') format('woff'),
    url('../assets/fonts/HWTUnitGothic-716/HWT_unit_gothic_716.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
