// Fonts
$covik-sans-mono: 'Covik Sans Mono', sans-serif;
$htw-unit-gothic: 'HWT Unit Gothic 716', sans-serif;

// Colors
$black: #000000;
$blue: #3333ff;
$blue2: #4353ff;
$white: #ffffff;
$light-gray: rgba(255, 255, 255, 0.7);
$tomato: #e85f54;

// Media breackpoints
$big-screen: 1920px;
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 320px;
