// Fonts
$covik-sans-mono: 'Covik Sans Mono', sans-serif;
$htw-unit-cothic: 'HWT Unit Cothic 716', sans-serif;

// Colors
$black: #000000;
$blue: #3333ff;
$white: #ffffff;
$light-gray: #fcfcfc;

// Media breackpoints
$big-screen: 1920px;
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
