@import 'styles/variables';
@import 'styles/media';
@import 'styles/mixins';

.button {
  width: 100%;
  height: 38px;

  font-size: 14px;
  line-height: 22px;

  @include flexCenter;

  transition: background-color 0.3s, color 0.3s;

  &_primary {
    background-color: $white;
    color: $black;

    &:hover {
      background-color: $blue2;
      color: $white;
    }
  }

  &_secondary {
    background-color: $black;
    color: $white;
    border: 2px solid $blue;

    &:hover {
      background-color: $blue;
    }
  }

  &_uppercase {
    text-transform: uppercase;
  }

  &_rounded {
    border-radius: 4px;
  }

  @include tablet {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    width: fit-content;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.content {
  color: inherit;
}

.icon {
  margin-left: 8px;
}
